.header{
    display: grid;
    grid-template-columns: 300px auto 200px;
    align-items: center;
    padding: 5px 20px;
    height: 60px;
     border-bottom: 1px solid lightgray;
     cursor: pointer;
}


.header__logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__logo img{
    width: 40px;
} 

.header__logo span{
    font-size: 22px;
    margin-left: 10px;
    color: gray;        
}

.header__search{
    display: flex;
    align-items: center;
    width: 650px;
    background-color: whitesmoke;
    padding: 12px;
    border-radius: 10px;
}
.header__search input{
    background-color: transparent;
    border: 0;
    outline: 0;
    flex: 1;
}

.header__icons{
    display: flex;
    align-items: center;
}
.header__icons span{
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.header__icons .css-i4bv87-MuiSvgIcon-root {
    margin: 0 9px;
}
